.text{
  text-align: center;
}
.first-line{
  background-color: black;
  color: white;
  padding: 8px 0 8px;
  margin: 0 -80px;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 40px 10px 40px;
  flex-wrap: wrap;
}

.site-header-list{
  list-style: none;
  display: flex;
  gap: 30px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-right{
  display: flex;
  gap: 20px;
}

.like-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.like-count {
  position: absolute;
  top: -10px;  
  right: -10px; 
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.basket-icon {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.basket-count {
  position: absolute;
  top: -10px;  
  right: -10px; 
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}


.btn-wr{
  display: flex;
  gap: 20px;
}

.inp{
  width: 200px;
  text-indent: 15px;
  border: none;
  background-color: #F5F5F5;
}

.nav-right button{
   border: none;
   background-color: white;
   font-size: 25px; 
}

@media screen and (max-width: 858px) {
.nav-right{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
}

@media screen and (max-width: 555px) {
  .site-header-list{
    display: none;
  }

  .inp{
    display: none;
  }

 .btn-wr{
  width: 100%;
  margin: -60px 400px 0;
  text-align: end;
 }
}

@media screen and (max-width: 455px) {
  .container{
    margin: 20px;
  }
  .btn-wr{
    width: 100%;
    margin: -60px 550px 0;
    text-align: end;
   }
}