.today{
  background-color: #DB4444;
  width: 20px;
  height: 40px;
}

.title{
  color: #DB4444;
  padding-top: 10px;
}

.flash{
  margin-top: 24px;
  gap: 30px;
  display: flex;
 
}

.icon{
 
  text-align: center;
}

.title2{
  font-size: 35px;
  margin-right: 80px;
}

.num{
  font-size: 35px;
}

.day{
  margin-top: -15px;
 
}

.line{
  font-size: 35px;
  color: #E07575;
}

.first-card{
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  width: 100%;
  margin: 30px 0 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.discount {
  position: absolute;
  top: 8px;
  left: 8px;
  background: red;
  color: white;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
}

.old-price {
  color: gray;
  text-decoration: line-through;
  font-size: 14px;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.view {
  padding: 15px;
  border: none;
  background: #DB4444;
  color: white;
  display: block;   
  margin: 20px auto;
}

.add-btn{
  background-color: black;
  color: white;
  border: none;
  padding: 7px;
  margin-top: 10px;
}


@media screen and (max-width: 661px) {
  .flash{
    display: none;
  }

  .today{
    display: none;
  }

  .title{
    display: block;
    font-size: 30px;
    width: 100vh;
    text-align: center;
  }
}